@import "../../../styles.scss";

div.controls-frame{
    display: flex;
    flex-direction: column;

    margin: 0 auto;

    button.ctrl-btn{
        position: relative;
        border: none;
        background-color: transparent;

        margin: .2em .2em; 

        transition: all 0.5s ease-in-out;

        span.tooltip{
            position: absolute;
            font-family: secondary;
            white-space: nowrap;
            font-size: 1.1em;

            padding: .2em;
            outline: solid 1px;
            border-radius: .2em;

            opacity: 0;
            right: calc(100% + 1vw);

            transition: all 0.5s ease;

            &.dark{
                color: $dark3;
                outline-color: $dark4;
            }

            &.lite{
                color: $lite4;
                outline-color: $lite4;
            }
        }

        &:hover{
            span.tooltip{
                opacity: 1;
                transition: all 0.5s ease-in-out;
            }
        }
    }

    i{
        font-size: 2em;
        color: $dark2;

        margin: 1px auto;

        transition: all 0.5s ease-in-out;

        &.lite{
            color: $lite2;
        }

        &:hover{
            cursor: pointer;
            color: $dark3;

            &.lite{
                color: $lite3;
            }
        }

        &.bi-speedometer{
            font-size: 1.5em;
            &:hover{
                cursor: auto;
                color: $dark2;

                &.lite{
                    color: $lite2;
                }
            }
        }
    }

    div.speed-container{
        position: relative;
        display: flex;
        flex-direction: column;

        span.tooltip{
            position: absolute;
            font-family: secondary;
            white-space: nowrap;
            font-size: 1.1em;
            color: $dark3;

            padding: .2em;
            outline: solid 1px $dark4;
            border-radius: .2em;

            opacity: 0;
            right: calc(100% + 1vw);

            transition: all 0.5s ease;

            &.lite{
                color: $dark4;
                outline-color: $dark4;
            }
        }

        &:hover{
            transition-delay: 0.5s;
            span.tooltip{
                opacity: 1;
                transition: all 0.5s ease-in-out;
            }
        }
    }

    input[type="range"]{
        background-color: transparent;

        transition: all 0.5s ease-in-out;

        &:hover{
            cursor: pointer;
            outline-color: $dark1;
        }
 
        &::-moz-range-track, &::-webkit-slider-runnable-track{
            width: 1vw;
            height: 8vw;
            z-index: 0;

            border-radius: .5em;

            transition: all 0.5s ease-in-out;

            background-image: linear-gradient(
                to bottom,
                rgba($dark1, 0.5), rgba($dark2, 0.5),
                rgba($dark3, 0.5), rgba($dark4, 0.5)
            );
        }

        &::-moz-range-thumb, &::-webkit-slider-thumb{
            background-color: $black;

            width: 1vw;
            height: 1vw;
            z-index: 1;

            border: none;
            outline: solid 1px $gray3;
            border-radius: 50%;

            transition: all 0.5s ease-in-out;
        }

        &.lite{
            &::-moz-range-track, &::-webkit-slider-runnable-track{
                transition: all 0.5s ease-in-out;
                background-image: linear-gradient(
                    to bottom,
                    rgba($lite1, 0.5), rgba($lite2, 0.5),
                    rgba($lite3, 0.5), rgba($lite4, 0.5)
                );
            }
        }
    }
}