@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

@font-face {
  font-family: primary;
  src: url("./assets/fonts/primary.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: secondary;
  src: url("./assets/fonts/secondary.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: lcd;
  src: url("./assets/fonts/lcd.ttf") format('truetype');
  font-style: normal;
}

// NEUTRALS
$black: #111;
$gray3: #333;
$gray2: #666;
$gray1: #AAA;
$white: #EEE;

// DARK THEME
$dark1: #69e9f5;
$dark2: #43bfc7;
$dark3: #645fce;
$dark4: #40356f;

// LITE THEME
$lite1: #c4bbf0;
$lite2: #927fbf;
$lite3: #4f3b78;
$lite4: #363b4e;