@import "../../styles.scss";

div.panel#panel{
  height: 48em;
  width: 16em;
  background-color: $black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: solid .1em $silver;

  @media only screen and (max-width: 768px){
    min-width: 100%;
    height: auto;
    flex-direction: row;
  }

  div.section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media only screen and (max-width: 768px){
      justify-content:flex-start;
      width: 50%;
    }

    h1.header{
      width: 90%;
      text-align: center;
      font-family: Tech;
      color: $silver;
      border-bottom: solid .1em $silver;
      margin-right: auto;
      margin-left: auto;

      @media only screen and (max-width: 768px){
        justify-content:flex-start;
        font-size: .75em;
      }
    }

    h3.stat{
      margin: 0;
      margin-top: .5em;
      width: 90%;
      text-align: center;
      font-family: Tech;
      color: $silver;
      margin-right: auto;
      margin-left: auto;

      @media only screen and (max-width: 768px){
        font-size: .75em;
      }
    }

    div.timer{
      width: 80%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-family: Tech;
      font-size: 2em;
      color: $blue;
      background-color: rgba($blue, .25);
      border: solid .01em $blue;
      margin-top: .5em;

      @media only screen and (max-width: 768px){
        font-size: .75em;
      }
    }
  
    button{
      clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 100% 100%, 10% 100%, 0% 50%);
      -webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 100% 100%, 10% 100%, 0% 50%);
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1em;
      background-color: rgba($silver, .1);
      outline: solid .1em $silver;
      color: $silver;
      font-family: Tech;

      @media only screen and (max-width: 768px){
        font-size: .75em;
        width: 90%;
        clip-path: none;
      }
  
      &:hover{
        background-color: $lite-gray;
        color: $black;
        cursor: pointer;
      }
    }
  }

  div.link{
    font-family: Tech;
    color: $silver;
    text-align: center;
    font-size: 1em;

    @media only screen and (max-width: 768px){
      display: none;
    }

    a{
        color: $silver;

      i{
        vertical-align: middle;
        font-size: 1.5em;
        cursor: pointer;
      }

      &:visited{
        color: $silver;
      }
    }
  }
}