@import "../../styles.scss";

div.backdrop{
  background-color: $black;
  height: 100%;
  width: 100%;
  z-index: -1;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

div.outer{
  margin-top: 5%;
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;

  @media only screen and (max-width: 768px){
    flex-direction: column;
    margin-top: 1%;
    display:flex;
  }
  

  div.left{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: right;
    margin-right: 1em;

    @media only screen and (max-width: 768px){
      justify-content: center;
      width: 100%;
      margin-right: 0;
    }
  }

  div.middle{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: 768px){
      justify-content: center;
      margin-right: 0;
    }
  }

  div.right{
    height: 100%;
    width: 15%;
    display: flex;
    margin-left: 1em;

    @media only screen and (max-width: 768px){
      justify-content: center;
      width: 100%;
      margin-left: 0;
    }
  }
}