<div class="panel" id="panel">

  <div class="section" id="controls">

    <h1 class="header">CONTROLS</h1>

    <div class="algo-controls">
      
      <button type="button" class="algo-control" (click)="emitPause()"><i class="bi bi-pause"></i></button>

      <button type="button" class="algo-control" (click)="emitPlay()"><i class="bi bi-play"></i></button>

    </div>

    <div class="speed-select">

      <input type="range" min="0" max="100" 
        value="{{speed}}" 
        (change)="setSpeed($any($event.target).value)"
        step="10"
        >

        <div class="labels">

          <h3 class="label" id="less">-</h3>

          <h3 class="label" id="label">TEMPO</h3>

          <h3 class="label" id="more">+</h3>

        </div>

    </div>

    <button type="button" (click)="emitMark()">PENCIL MARKS</button>

    <button type="button" (click)="emitNew()">NEW PUZZLE</button>

    <button type="button" (click)="emitCustom()">INPUT PUZZLE</button>

  </div>

  <div class="section" id="algorithms">

    <h1 class="header">ALGORITHMS</h1>
  
    <button type="button" (click)="emitBacktrack()">BACKTRACK</button>
  
    <button type="button" (click)="emitEnhanced()">ENHANCED</button>

    <button type="button" (click)="emitHuman()">HUMAN</button>

  </div>

  <div class="license" (click)="license()">Copyright © 2022 Gabriel Trahan</div>

</div>