@import "../../styles.scss";

div.panel#panel{
  height: 48em;
  width: 16em;
  background-color: $black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: solid .1em $silver;

  @media only screen and (max-width: 768px){
    width: 100%;
    height: auto;
  }

  div.section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h1.header{
      width: 90%;
      text-align: center;
      font-family: Tech;
      color: $silver;
      border-bottom: solid .1em $silver;
      margin-right: auto;
      margin-left: auto;
    }
  
    button{
      clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 100% 100%, 10% 100%, 0% 50%);
      -webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 100% 100%, 10% 100%, 0% 50%);
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1em;
      background-color: rgba($silver, .1);
      outline: solid .1em $silver;
      color: $silver;
      font-family: Tech;
  
      &:hover{
        background-color: $lite-gray;
        color: $black;
        cursor: pointer;
      }
    }

    div.algo-controls{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      button.algo-control{
        margin: 0;
        width: 45%;
        font-size: 1.25em;
        color: $silver;
      }
    }

    div.speed-select{
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      div.labels{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      input[type=range]{
        background-color: transparent;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        -webkit-appearance: none;
  
        &::-moz-range-thumb, &::-webkit-slider-thumb{
          background-color: $black;
          width: 1em;
          height: 1em;
          outline: solid 1px $silver;
          border-radius: .1em;
          cursor: pointer;
          -webkit-appearance: none;
        }

        &::-webkit-slider-thumb{
          -webkit-appearance: none;
          background: $black;
          width: 1.3em;
          height: 1.3em;
          outline: solid .1em $silver;
        }
  
        &::-moz-range-track, &::-webkit-slider-runnable-track{
          background-image: linear-gradient(
            to right, rgba($green, .5), rgba($yellow, .5), rgba($red, .5));
          clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 100% 100%, 10% 100%, 0% 50%);
          -webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 100% 100%, 10% 100%, 0% 50%);
          height: 100%;
          width: 100%;
          -webkit-appearance: none;
        }

        &::-webkit-slider-runnable-track{
          background-image: linear-gradient(
            to right, rgba($green, .5), rgba($yellow, .5), rgba($red, .5));
          outline: solid .1em $silver;
        }
      }
  
      h3.label{
        margin: 0;
        text-align: center;
        font-family: Tech;
        color: $silver;
      }
    }
    }

  div.license{
    font-family: Tech;
    color: $silver;
    text-align: center;
    font-size: .8em;
    cursor: pointer;
  }
}