<div class="outer" *ngIf="custom">

  <input 
    type="number" 
    min="1" 
    max="9" 
    (keyup)="setCell($any($event.target).value)"
    [ngClass]="error ? 'error' : ''"
    >

</div>

<div class="outer" *ngIf="!custom">

  <h1 class="cell-value" *ngIf="cell.value != 0">{{cell.value}}</h1>

  <div class="pencilmarks" *ngIf="cell.value == 0">

    <div class="mark-row">

      <div class="mark">

        <h3 class="pm-value">{{cell.pencilmarks[0]}}</h3>

      </div>

      <div class="mark">

        <h3 class="pm-value">{{cell.pencilmarks[1]}}</h3>

      </div>

      <div class="mark">

        <h3 class="pm-value">{{cell.pencilmarks[2]}}</h3>

      </div>

    </div>

    <div class="mark-row">

      <div class="mark">

        <h3 class="pm-value">{{cell.pencilmarks[3]}}</h3>

      </div>

      <div class="mark">

        <h3 class="pm-value">{{cell.pencilmarks[4]}}</h3>

      </div>

      <div class="mark">

        <h3 class="pm-value">{{cell.pencilmarks[5]}}</h3>

      </div>

    </div>

    <div class="mark-row">

      <div class="mark">

        <h3 class="pm-value">{{cell.pencilmarks[6]}}</h3>

      </div>

      <div class="mark">

        <h3 class="pm-value">{{cell.pencilmarks[7]}}</h3>

      </div>

      <div class="mark">

        <h3 class="pm-value">{{cell.pencilmarks[8]}}</h3>

      </div>

    </div>

  </div>

</div>