@import "../../../styles.scss";

div.frame{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin: 0 auto;
    padding: .25em;

    div.error{
        font-family: primary;
        font-size: 1.5em;
        font-weight: bold;

        color: $dark2;

        transition: all 0.5s ease-in-out;

        &.lite{
            color: $lite3;
        }
    }

    div.error-msg{
        font-family: secondary;
        font-size: 1.5em;

        color: $dark2;

        transition: all 0.5s ease-in-out;

        &.lite{
            color: $lite3;
        }
    }
}