@import "../../../styles.scss";

div.grid-frame{
    display: flex;
    flex-direction: column;

    div.row{
        display: flex;
        flex-direction: row;
        align-items: center;

        margin: 0 auto;

        height: 11%;

        div.cell{
            display: flex;
            justify-content: center;
            align-items: center;
            outline: solid 1px $dark4;

            width: 3vw;
            height: 3vw;

            transition: all 0.5s ease-in-out;

            &.lite{
                outline-color: $lite4;
            }
        }
    }
}