@import "../../styles.scss";

div.backdrop{
  background-color: $black;
  height: 100%;
  width: 100%;
  z-index: -1;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

div.outer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;

  div.license{
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    color: $silver;
    font-family: Tech;
    padding: 2em;
    outline: solid .1em $silver;

    @media only screen and (max-width: 768px){
      height: 90%;
      width: 90%;
      overflow: scroll;

      h1{
        color: $silver;
        border-bottom: solid $silver 2px;
        -webkit-text-stroke: 1px $silver;
        font-size: 1em;
        -webkit-text-stroke-width: .5px;
      }

      p{
        font-size: .7em;
        -webkit-text-stroke-width: .5px;
      }
    }
  }
}