<div 
    *ngIf="!cell.pencilMarksVisible || cell.value != 0"
    class="edit-cell {{themeService.getTheme()}}"
    [@inOutAnimation]
    >
    <input 
        type="number" 
        [ngClass]="{'error': cell.error, 'editMode': cell.editModeActive}"
        class="cell-input {{themeService.getTheme()}}"
        (blur)="cell.setValue($any($event.target).value)"
        value="{{cell.value != 0 ? cell.value: ''}}"
        [disabled]="!cell.editModeActive"
        [@inOutAnimation]
    />
</div>

<div 
    *ngIf="cell.value == 0 && cell.pencilMarksVisible" 
    class="pencil-marks" 
    [@inOutAnimation]
    >

    <div class="pencil-mark-row" *ngFor="let r of [0, 3, 6]" [@inOutAnimation]>

        <ng-container *ngFor="let c of [1, 2, 3]">
            <div 
                class="pencil-mark {{themeService.getTheme()}}" 
                *ngIf="cell.pencilMarks.includes(r + c)">
                    {{r+c}}
            </div>

            <div 
                class="pencil-mark {{themeService.getTheme()}}" 
                *ngIf="!cell.pencilMarks.includes(r + c)">
            </div>
        </ng-container>

    </div>

</div>