<div 
    *ngIf="cell.value != 0"
    class="cell-value {{themeService.getTheme()}}">
    {{cell.value}}
</div>

<div class="pencil-marks" *ngIf="cell.value == 0">

    <div class="pencil-mark-row">

        <div class="pencil-mark {{themeService.getTheme()}}" *ngIf="cell.pencilMarks.includes(1)">1</div>
        <div class="pencil-mark {{themeService.getTheme()}}" *ngIf="!cell.pencilMarks.includes(1)"></div>
    
        <div class="pencil-mark {{themeService.getTheme()}}" *ngIf="cell.pencilMarks.includes(2)">2</div>
        <div class="pencil-mark {{themeService.getTheme()}}" *ngIf="!cell.pencilMarks.includes(2)"></div>
    
        <div class="pencil-mark {{themeService.getTheme()}}" *ngIf="cell.pencilMarks.includes(3)">3</div>
        <div class="pencil-mark {{themeService.getTheme()}}" *ngIf="!cell.pencilMarks.includes(3)"></div>

    </div>

    <div class="pencil-mark-row">

        <div class="pencil-mark {{themeService.getTheme()}}" *ngIf="cell.pencilMarks.includes(4)">4</div>
        <div class="pencil-mark {{themeService.getTheme()}}" *ngIf="!cell.pencilMarks.includes(4)"></div>
    
        <div class="pencil-mark {{themeService.getTheme()}}" *ngIf="cell.pencilMarks.includes(5)">5</div>
        <div class="pencil-mark {{themeService.getTheme()}}" *ngIf="!cell.pencilMarks.includes(5)"></div>
    
        <div class="pencil-mark {{themeService.getTheme()}}" *ngIf="cell.pencilMarks.includes(6)">6</div>
        <div class="pencil-mark {{themeService.getTheme()}}" *ngIf="!cell.pencilMarks.includes(6)"></div>
        
    </div>

    <div class="pencil-mark-row">

        <div class="pencil-mark {{themeService.getTheme()}}" *ngIf="cell.pencilMarks.includes(7)">7</div>
        <div class="pencil-mark {{themeService.getTheme()}}" *ngIf="!cell.pencilMarks.includes(7)"></div>
    
        <div class="pencil-mark {{themeService.getTheme()}}" *ngIf="cell.pencilMarks.includes(8)">8</div>
        <div class="pencil-mark {{themeService.getTheme()}}" *ngIf="!cell.pencilMarks.includes(8)"></div>
    
        <div class="pencil-mark {{themeService.getTheme()}}" *ngIf="cell.pencilMarks.includes(9)">9</div>
        <div class="pencil-mark {{themeService.getTheme()}}" *ngIf="!cell.pencilMarks.includes(9)"></div>
        
    </div>

</div>