@import "../../../styles.scss";

div.edit-cell{
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.5s ease-in-out;

    &:hover{
        span.error-msg{
            opacity: 1;
            transition: all 0.5s ease-in-out;
        }
    }

    span.error-msg{
        position: absolute;
        font-family: secondary;
        white-space: nowrap;
        font-size: 1.1em;
        color: $dark3;

        padding: .2em;
        outline: solid 1px $dark4;
        border-radius: .2em;

        right: calc(100% + 1vw);

        transition: all 0.5s ease;

        &.lite{
            color: $lite4;
            outline-color: $lite4;
        }
    }

    input.cell-input[type=number]{
        appearance: none;
        border: none;
        -moz-appearance: textfield;
        background-color: transparent;

        transition: all 0.5s ease-in-out;

        font-family: lcd;
        font-size: 3em;
        text-align: center;

        width: 2.9vw;
        height: 2.9vw;

        &.dark{
            color: $dark1;

            &.editMode{
                background-color: rgba($dark2, 0.1);
    
                &:hover{
                    background-color: rgba($dark2, 0.25);
                }
            }

            &.error{
                color: $darkF;
            }
        }

        &.lite{
            color: $lite4;

            &.editMode{
                background-color: rgba($lite2, 0.1);
    
                &:hover{
                    background-color: rgba($lite2, 0.25);
                }
            }

            &.error{
                color: $liteF;
            }
        }

        &:focus{
            outline: none;
        }
    }
}

div.pencil-marks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    width: 100%;

    div.pencil-mark-row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;

        width: 100%;

        div.pencil-mark{
            font-family: lcd;
            font-size: .9em;
            color: $dark4;
            text-align: center;

            width: .9vw;
            height: .9vw;

            transition: all 0.5s ease-in-out;

            &.lite{
                color: $lite3;
            }
        }
    }
}