<div class="config-frame">

    <div class="section" id-="statistics">

        <h1 class="section-title {{themeService.getTheme()}}" id="statistics-title">Statistics</h1>

        <div class="statistic {{themeService.getTheme()}}" id="time">
            <h2 class="stat-key" id="time-key">Time:</h2>
            <h2 class="stat-val" id="time-val">00:00</h2>
        </div>

        <div class="statistic {{themeService.getTheme()}}" id="considered">
            <h2 class="stat-key" id="considered-key">Considered:</h2>
            <h2 class="stat-val" id="considered-val">0</h2>
        </div>

        <div class="statistic {{themeService.getTheme()}}" id="guesses">
            <h2 class="stat-key" id="guesses-key">Guesses:</h2>
            <h2 class="stat-val" id="guesses-val">0</h2>
        </div>

        <div class="statistic {{themeService.getTheme()}}" id="backtracks">
            <h2 class="stat-key" id="backtracks-key">Backtracks:</h2>
            <h2 class="stat-val" id="backtracks-val">0</h2>
        </div>

    </div>

    <div class="section" id="algorithms">

        <h1 class="section-title {{themeService.getTheme()}}" id="algorithms-title">Algorithms</h1>

        <button
            type="button"
            class="algo-btn {{themeService.getTheme()}}"
            id="backtrack"
            (click)="setAlgo('backtrack')">
            <i class="bi bi-check-square {{themeService.getTheme()}}" *ngIf="active_algo == 'backtrack'"></i>
            <i class="bi bi-square {{themeService.getTheme()}}" *ngIf="active_algo != 'backtrack'"></i>
            Backtrack
        </button>

        <button
            type="button"
            class="algo-btn {{themeService.getTheme()}}"
            id="enhanced backtrack"
            (click)="setAlgo('enhanced-backtrack')">
            <i class="bi bi-check-square {{themeService.getTheme()}}"*ngIf="active_algo == 'enhanced-backtrack'"></i>
            <i class="bi bi-square {{themeService.getTheme()}}" *ngIf="active_algo != 'enhanced-backtrack'"></i>
            Enhanced Backtrack
        </button>

        <button
            type="button"
            class="algo-btn {{themeService.getTheme()}}"
            id="meta-heuristic"
            (click)="setAlgo('meta-heuristic')">
            <i class="bi bi-check-square {{themeService.getTheme()}}"*ngIf="active_algo == 'meta-heuristic'"></i>
            <i class="bi bi-square {{themeService.getTheme()}}" *ngIf="active_algo != 'meta-heuristic'"></i>
            Meta-Heuristic
        </button>

    </div>

    <div class="section" id="techniques">

        <h1 class="section-title {{themeService.getTheme()}}" id="techniques-title">Techniques</h1>

        <button
            type="button"
            class="technique-btn {{themeService.getTheme()}}"
            id="single-blank">
            Single Blank
        </button>

        <button
            type="button"
            class="technique-btn {{themeService.getTheme()}}"
            id="naked-single">
            Naked Single
        </button>

        <button
            type="button"
            class="technique-btn {{themeService.getTheme()}}"
            id="naked-double">
            Naked Double
        </button>

        <button
            type="button"
            class="technique-btn {{themeService.getTheme()}}"
            id="naked-triple">
            Naked Triple
        </button>

        <button
            type="button"
            class="technique-btn {{themeService.getTheme()}}"
            id="naked-quad">
            Naked Quad
        </button>

        <button
            type="button"
            class="technique-btn {{themeService.getTheme()}}"
            id="x-wing">
            X-Wing
        </button>
        
    </div>

</div>