<div class="panel" id="panel">

  <div class="section" id="stats">

    <h1 class="header">STATS</h1>

    <h3 class="stat" id="considered">CONSIDERED: {{considered}}</h3>

    <h3 class="stat" id="guesses">GUESSES: {{guesses}}</h3>

    <h3 class="stat" id="backtracks">BACKTRACKS: {{backtracks}}</h3>

    <div class="timer" id="timer">{{time}}</div>

  </div>

  <div class="section" id="algorithms">

    <h1 class="header">TECHNIQUES</h1>
  
    <button type="button" (click)="singleBlank.emit()">SINGLE BLANK</button>

    <button type="button" (click)="nakedSingle.emit()">NAKED SINGLE</button>

    <button type="button" (click)="nakedPair.emit()">NAKED PAIR</button>

    <button type="button" (click)="nakedTriple.emit()">NAKED TRIPLE</button>

    <button type="button" (click)="nakedQuad.emit()">NAKED QUAD</button>

    <button type="button" (click)="xwing.emit()">X-WING</button>

    <!-- Future technique implementations
    <button type="button">XY-WING</button>

    <button type="button">SWORDFISH</button> -->

  </div>

  <div class="link">
    Fork me: <a href="https://github.com/theokoles7/Dr-Sudoku">
      <i class="bi bi-github"></i>
    </a>
  </div>

</div>