@import "../../../styles.scss";

div.license{
    max-width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1em;

    h1, p{
        width: 90%;
        margin: .25em 0;

        transition: all 0.5s ease-in-out;
    }

    h1{
        font-family: primary;
        color: $dark4;
        border-bottom: solid 1px $dark3;

        &.lite{
            color: $lite4;
        }
    }

    p{
        font-family: secondary;
        color: $dark2;
        text-align: justify;

        &.lite{
            color: $lite3;
        }
    }
}